sudo: required
dist: trusty
language: cpp
addons:
    apt:
      packages:
        - gcc-6
        - g++-6
        - swig
        - libfftw3-dev
        - libcfitsio3-dev
        - libmuparser-dev
        - python-dev
        - python-numpy
        - python-setuptools
        - python3-setuptools
        - python3-dev
        - cmake
        - libhdf5-serial-dev
        - python-matplotlib
        - python3-matplotlib
        - python-scipy
        - python3-scipy
        - libiomp5
        - libiomp-dev
        - doxygen
        - graphviz
      sources: &sources
        - ubuntu-toolchain-r-test
cache:
  directories:
    - $HOME/radiopropa_cache
matrix:
  include:
    - os : linux
      dist: xenial
      compiler: gcc
      env:
        - COMPILER_NAME=gcc CXX=g++-6 CC=gcc-6
        - PYTHON_EXECUTABLE=/usr/bin/python3
        - BUILD_DOC=true
    - os : linux
      dist: xenial
      compiler: clang
      env:
        - PYTHON_EXECUTABLE=/usr/bin/python3
        - LD_LIBRARY_PATH=/usr/local/clang/lib:$LD_LIBRARY_PATH
    - os : linux
      dist: xenial
      compiler: gcc
      env:
         - COMPILER_NAME=gcc CXX=g++-6 CC=gcc-6
         - PYTHON_EXECUTABLE=/usr/bin/python2
    - os : linux
      dist: xenial
      compiler: clang
      env:
        - PYTHON_EXECUTABLE=/usr/bin/python2
        - LD_LIBRARY_PATH=/usr/local/clang/lib:$LD_LIBRARY_PATH
    - os : osx
      compiler: clang
      env:
        - CXX_COMPILER='clang++'
        - C_COMPILER='clang++'
        - PYTHON_EXECUTABLE=/usr/bin/python

before_install:
  - echo "TRAVIS_OS_NAME=$TRAVIS_OS_NAME"
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      HOMEBREW_NO_AUTO_UPDATE=1 brew install swig;
      HOMEBREW_NO_AUTO_UPDATE=1 brew install gcc || true;
      HOMEBREW_NO_AUTO_UPDATE=1 brew link --overwrite gcc;
    fi;

before_script:
  - mkdir build
  - cd build
  - cmake .. -DENABLE_PYTHON=True -DPYTHON_EXECUTABLE=$PYTHON_EXECUTABLE -DENABLE_TESTING=On

script:
  - VERBOSE=1 make
  - make test

after_failure:
  - cat Testing/Temporary/LastTest.log
